@model IEnumerable<TreinamentoAspNet02.Areas.Admin.Models.IndexViewModel>
@{
    ViewBag.Title = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage)) { 
<div class="alert alert-success" role="alert">
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Lista de consultores</h2>
        @Html.ActionLink("Novo Consultor", "Register", "Consultores", new { area = "Admin" }, new { @class = "btn btn-default", @role = "button" })
    </div>

    <div style="padding: 10px;">
        <!-- Table -->
        <table id="consultores" class="table">
            <thead>
                <tr>
                    <td>Imagem</td>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Status</td>
                    <td><i class="glyphicon glyphicon-search" title="Mais detalhes"></i></td>
                    <td><i class="glyphicon glyphicon-pencil" title="Editar"></i></td>
                    <td><i class="glyphicon glyphicon-off" title="Alterar status da conta"></i></td>
                </tr>
            </thead>
            @foreach (var consultor in Model)
            {
                <tr>
                    <td style="width: 100px; margin: auto;">
                        <div class="thumb-tabela">
                            @if (!consultor.FotoPerfil.IsEmpty())
                            {
                                <img src="~/Images/Perfil/@consultor.FotoPerfil" alt="Foto de perfil" />
                            }
                            else
                            {
                                <img src="~/Images/Perfil/semfoto.jpg" alt="Foto de perfil" />
                            }
                        </div>
                    </td>
                    <td>@consultor.Nome</td>
                    <td>@consultor.Email</td>
                    <td>@consultor.Active</td>
                    <td style="width: 60px;">
                        <a href="@Url.Action("Details","Consultores", new { id = consultor.Id })" title="Mais detalhes">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </td>
                    <td style="width: 60px;">
                        <a href="@Url.Action("Edit","Consultores", new { id = consultor.Id })" title="Editar">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                    <td style="width: 60px;">
                        <a href="@Url.Action("ToggleStatus","Consultores", new { id = consultor.Id })" class="text-danger" title="Desativar ou ativar consultor">
                            <i class="glyphicon glyphicon-off"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>