@model TreinamentoAspNet02.Models.AtendimentoViewModel
@{
    ViewBag.Title = "Atendimento n°" + Model.AtendimentoAtual.Id;
}
<link href="~/Content/Chat.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-heading flex">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <p>Você está falando com: </p>
        <h3>@Model.Consultor.Nome</h3>
    </div>
</div>

@* Informações necessárias *@
<input type="hidden" id="idAtendimento" value="@Model.AtendimentoAtual.Id" />
<input type="hidden" id="idConsultor" value="@Model.Consultor.Id" />
<input type="hidden" id="idVisitante" value="@Model.Visitante.Id" />
<input type="hidden" id="nomeVisitante" value="@Model.Visitante.Nome" />
<input type="hidden" id="duracao" value="@Model.AtendimentoAtual.Duracao" />

<div class="well well-lg bg-consultor">
    <div id="numberCountdown" class="flex-duracao"></div>
    <div id="areaChat">
        @* Disponível *@
        <div id="areaDisponivel">
            <div class="well well-lg bg-mensagens flex-column-reverse">
                <div id="avisos"></div>
                <div id="mensagens" style="overflow-y: scroll"></div>
            </div>

            <div class="flex">
                <input type="text" class="col-lg-10 input-message" id="message">
                <input type="button" class="btn btn-default" id="send" value="Enviar" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Content/sweetalert.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var chat = $.connection.chatHub;
        var idAtendimento = $("#idAtendimento").val();
        var idConsultor = $("#idConsultor").val();
        var idVisitante = $("#idVisitante").val();
        var nomeVisitante = $("#nomeVisitante").val();

        $(function () {

            clientsMethods(chat);

            $('#message').focus();
            $('#message').keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    $('#send').trigger('click');//Trigger search button click event
                }
            });

            $.connection.hub.start().done(function () {

                chat.server.connect("Visitante", false, $("#idAtendimento").val());
                chat.server.joinRoom(idConsultor, nomeVisitante, false);

                $('#send').click(function () {
                    chat.server.send(nomeVisitante, $('#message').val(), idConsultor);
                    chat.server.storeMessage($('#message').val(), null, idVisitante, idAtendimento);
                    $('#message').val('').focus();
                });

                $("#desconectar").click(function () {
                    chat.server.desconectar()
                    window.location.replace("/")
                });

                startTimer(chat);

            });

        });
        var duracao = $("#duracao").val();
        duracao = duracao * 60;
        function startTimer(chat) {
            if (duracao > 0) {
                duracao--;
                chat.server.saveTime(duracao, idConsultor, idAtendimento);
                console.log(duracao)
                setTimeout('startTimer(chat)', 1000);
            }
        }

        function clientsMethods(chat) {

            // This optional function html-encodes messages for display in the page.
            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }

            // Adicionar mensagens para o client
            chat.client.addNewMessageToPage = function (name, message) {
                $('#mensagens').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            // Aviso quando visitante entrar na sala.
            chat.client.aviso = function () {
                $("#avisos").empty();
                var aviso = $("<div />", {
                    class: "alert alert-warning",
                    role: "alert"
                }).html("Atendimento iníciado, quando o tempo se esgotar você será automaticamente retirado no chat. <strong>AVISO:</strong> caso você saia ou desconecte o atendimento será encerrado.");
                $("#avisos").append(aviso);
            }

            // Contagem regressiva;
            chat.client.timer = function (tempoRestante) {
                console.log(tempoRestante);
                duracao = tempoRestante;

                dateObj = new Date(tempoRestante * 1000);
                minutes = dateObj.getUTCMinutes();
                seconds = dateObj.getSeconds();

                numberCountdown.innerText = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
            }
            // Encerrar atendimento quando acabar o tempo
            chat.client.encerrarAtendimento = function () {
                window.location.replace("/")
            }

        }
    </script>
}