@model TreinamentoAspNet02.Models.AtendimentoViewModel
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<link href="~/Content/sweetalert.css" rel="stylesheet" />

<p>Você está falando com: <strong>@Model.Consultor.Nome</strong></p>

<input type="hidden" id="connId" value="@Model.Consultor.Id" />
<input type="hidden" id="idAtendimento" value="@Model.AtendimentoAtual.Id" />
<div class="form-group col-xl-12">

    <label class="control-label">Seu nome: </label>
    <input type="hidden" id="idVisitante" value="@Model.Visitante.Id" />
    <input type="text" class="col-lg-12 text-primary" id="nomeVisitante" value="@Model.Visitante.Nome" readonly /> <br />

    <label class="control-label">Your Message</label><br />
    <input type="text" id="message" class="col-lg-10 text-primary" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="btn btn-primary" id="sendmessage" value="Send" /><br /><br>

    <div class="container chatArea">
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Content/sweetalert.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.addNewNotificationToPage = function (name) {
                $('#discussion').append('<p class="text-info"><strong>' + htmlEncode(name) + '</strong></p>');
            };

            $('#message').focus();
            $('#message').keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    $('#sendmessage').trigger('click');//Trigger search button click event
                }
            });

            $.connection.hub.start().done(function () {
                chat.server.connect("Visitante", false, $("#idAtendimento").val());
                chat.server.joinRoom($('#connId').val(), $('#nomeVisitante').val());

                $('#sendmessage').click(function () {

                    chat.server.send($('#nomeVisitante').val(), $('#message').val(), $('#connId').val());
                    chat.server.storeMessage($('#message').val(), null, $("#idVisitante").val() , $("#idAtendimento").val());
                    $('#message').val('').focus();

                });

            });

        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}