@using Microsoft.AspNet.Identity
@using TreinamentoAspNet02.App_Start
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetName() + "!", "Index", "Home", routeValues: new { area = "Admin" }, htmlAttributes: new { })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetName() + "!", "Index", "Home", routeValues: new { area = "Consultor" }, htmlAttributes: new {  })
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
