@model TreinamentoAspNet02.Models.CreateViewModel
@{
    ViewBag.Title = "Ficha de inscrição";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Create", "Visitante", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Ficha de inscrição para falar com o Consultor <strong>@ViewBag.NomeConsultor</strong></h4>
        <hr />
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Celular, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", maxlength = "15", minlength = "14" })
        </div>
        @Html.LabelFor(m => m.TempoAtendimento, new { @class = "control-label" })
        <div class="form-group">
            @Html.RadioButtonFor(m => m.TempoAtendimento.Duracao, (int)1, new { @checked = true })
            <text>1 min</text>
            @Html.RadioButtonFor(m => m.TempoAtendimento.Duracao, (int)5)
            <text>5 min</text>
            @Html.RadioButtonFor(m => m.TempoAtendimento.Duracao, (int)30)
            <text>30 min</text>
            @Html.RadioButtonFor(m => m.TempoAtendimento.Duracao, (int)60)
            <text>1 h</text>
        </div>
        <input type="hidden" name="IdConsultor" value="@ViewBag.IdConsultor" />
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Cadastrar" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            var SPMask = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
                spOptions = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(SPMask.apply({}, arguments), options);
                    }
                };

            $('#Celular').mask(SPMask, spOptions);
        })
    </script>
}
