@using TreinamentoAspNet02.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Treinamento ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <h2 class="text-center">@ViewBag.Title</h2>
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Entrar" class="btn btn-def btn-block" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>